<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content class="md-padding">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis eaque earum, eos incidunt itaque laborum molestiae mollitia nesciunt odit, pariatur, praesentium quidem repellat sit tempora? Ad corporis doloribus possimus.
        </p>
    </md-content>
</md-sidenav>